.footer__container {
  background-color: $primary-color;
  padding: 1rem; 
  display: flex; 
  margin:30px;
  border-radius: 3rem;

  border: 8px solid $strong-primary-color;
  box-shadow: $box-shadow-4;
  justify-content: space-between; 
  align-items: center; 
}

.footer__wrapp {
  display: flex;
  padding: 15px;
  align-items: center;
font-size: 15px;
 @media screen and (max-width: map-get($gridbreakpoints, sm) ) {
            flex-direction: column;
        }
        .footer__socialmedia-links {
            color: $black-color;
            &:not(:first-child) {
                margin-left: 1.5rem;
            }
            @media screen and (max-width: map-get($gridbreakpoints, sm) ) {
                margin: 1rem 0;
            }
            i {
                font-size: 1.5rem;
            }
            &:hover {
                color: $strong-primary-color;
            }
        }
    }



.footer__socialmedia-links {
  color: $white-color; // Color de los íconos
  font-size: 1.5rem; // Tamaño de los íconos
  margin-left: 1rem; // Espaciado entre los íconos
  text-decoration: none;

  &:hover {
      color: $light-primary-color; // Cambia el color al pasar el cursor
  }
}