.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: $strong-primary-color;
  border: 4px solid $black-color;
  margin: 0 20px;
  min-height: 300px;
  padding: 1rem;
  box-shadow: $box-shadow-3;

  img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: $box-shadow-4;
  }

  .card-price {
    border: 4px solid $white-color;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-4;
    font-size: 1.6rem;
    font-weight: bold;
    color: $light-secondary-color;
    margin: 0.8rem 0;
    text-align: center;
  }
}

@media (max-width: map-get($gridbreakpoints, md)) and (min-width: map-get($gridbreakpoints, sm)) {
  .card {
    flex-direction: row;
    align-items: center;
    min-height: auto;

    img {
      width: 40%;
      height: auto;
      margin-right: 1rem;
    }

    .card-content {
      width: 60%;
    }
  }
}

@media (max-width: map-get($gridbreakpoints, sm)) {
  .card {
    margin: 0 10px;
    flex-direction: column;
    min-height: auto;
    padding: 0.5rem;

    img {
      height: 150px;
    }

    .card-price {
      font-size: 1.2rem;
    }
  }
}