body {
    font-family: "Cal Sans", sans-serif;
    background-color: $body-bg-color;
    margin: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    
}



h2 {
    text-align: center;
    color: $white-color;
    background-color: $primary-color;
    font-size: 30px;
    font-weight: 700;
    gap: 1rem;
    box-shadow: 1px 2px 8px 6px #36e6f4;

    &:hover {
        color: $light-secondary-color;

    }

    &:visited {
        color: $white-color;
    }
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; // Espacio entre guiones y texto
  font-size: 30px;
  color: $white-color;
  text-align: center;
  white-space: nowrap; // Evita saltos de línea

  // Guiones antes y después del texto (sin bordes)
  &::before,
  &::after {
    content: "------"; // Personaliza la cantidad de guiones
    color: $white-color; // Mismo color que el texto
  }

  // Ajustes para móvil (opcional)
  @media (max-width: 600px) {
    font-size: 24px; // Tamaño un poco menor en móvil
    &::before,
    &::after {
      content: "---"; // Menos guiones en móvil si prefieres
    }
  }
}



h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    gap: 1rem;
    box-shadow: 1px 2px 8px 6px #36e6f4;

    &:hover {
        color: $light-secondary-color;

    }

    &:visited {
        color: $primary-color;
    }
}